<h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>


<h2>おすすめのエリア</h2>

<div class="reccomend-areas">
<%# link_to 東京 クリックで一覧 %>
<%# link_to 大阪 クリックで一覧 %>
<%# link_to 京都 クリックで一覧 %>
<%# link_to 札幌 クリックで一覧 %>
</div>
